<div class="span12">
<%#<%= link_to '新增', new_series_path, :class=>'btn btn-info btn-large' %>
<%#<hr />%>
<%= render 'smart_form' %>
</div>

<% @series.each do |series| %>
  <div class="span8">
    <h2 class="well">
      <%= link_to series.title, series %>
    </h2>
    <p>
    <%#可选操作：%>
    <%= link_to '观看', play_series_path(series), :class=>'btn btn-success' %>
    <%= link_to '下载', download_series_path(series), :class=>'btn btn-warning' %>
    <%= link_to '删除', series, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger' %>
    <%#<%= link_to '编辑', edit_series_path(series), :class=>'btn btn-info' %>
    </p>
    <hr />
  </div>
<% end %>
